<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GameStash</title>
  </head>
  <body>
    <%- include("partials/links") %>
    <h1>Genres</h1>
    <% genres.forEach(genre => { %>
    <div>
      <div><%= genre.id %>. <%= genre.name %></div>
    </div>
    <% }) %>
    <a href="/genres/new">Add new Genre</a>
  </body>
</html>
