<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GameStash</title>
  </head>
  <body>
    <%- include("partials/links") %>
    <h1>Games List</h1>
    <a href="/games/new">&plus; Add New Game</a>
    <%- include("partials/games", { games: games }) %>
  </body>
</html>
